@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&display=swap');


body{
    font-family: 'Hind', sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    margin: 0;
}

.bio {
    text-align: center;
    padding: 4rem 0 2rem 0;
    background-color: #0E1216;
    color: white;
}

.bio h1 {
    text-transform: uppercase;
    font-weight: 300;
    line-height: .7;
    letter-spacing: 0.03rem;
    margin-bottom: .3rem;
}

.bio h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    margin: auto;
}

.bio p {
    font-weight: 300;
}

.description {
    margin-bottom: 0;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
}

.projects {
    margin: 0 auto 40px auto;
    width: 90%;
}

.projects h3 {
    padding: 1.5rem 0 .3rem 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    margin: auto;
}

.container article {
    border: 1px solid #E2E6E7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container article img,
.container article video {
    width: 100%;
    height: 100%;
}

.container article video{
    background-color: black;
}

.container article .texto_project {
    padding: .5rem;
    font-weight: 500;
    font-size: 1rem;
    margin: auto;
    line-height: 1.3;
}

.container article p{
    font-size: .8rem;
    font-weight: 100;
    padding-left: 0.5rem;
}

.bio .description a{
    /*color: #aaff1b;*/
    /*color: #E5FC4A;*/
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.bio .description a:hover{
    text-decoration:underline;
}

.social_media a{
    color: #c2ff96;
    margin: 2px;
}

button{
    border: 1px solid #5e5e5e82;
    background-color: transparent;
    border-radius: 2px;
    background-color: #f7f7f7;
    margin: 0 0 0.8rem 0.5rem;
    padding: .3rem .5rem;
}

button a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Hind', sans-serif;
}

button a:hover{
    color: black;
    opacity: 0.7;
}

footer{
    background-color: black;
    height: 10rem;
}

.footer_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}
.footer_description p {
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 3px;
}

.footer_description .icons i{
    color: #f7f7f7;
    font-size: 1.15rem;
}

@import url('_tablet.css');
@import url('_small_desktop.css');

/* @media screen (min-width: 480px) {
    @import url("_tablet.css");
} */