@media screen and (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .container article img, .container article video{
        height: 250px;
    }

    .bio h2{
        padding-bottom: 1.5rem;
    }
}